html {
  background: url(/images/gskbg.jpg);
  color: peachpuff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.header img {
  height: auto;
  width: 500px;
  margin: auto;
}

#body {
  height: auto;
  width: 800px;
  margin: auto;
  background: forestgreen;
  border: thick dotted peachpuff;
}

.games {
  height: auto;
  width: 900px;
  margin: auto;
}

.games img {
  width: 400px;
  height: auto;
  margin: auto;
}

.games h1 {
  width: 400px;
  height: auto;
  margin: auto;
}

.games img:hover {
  -webkit-filter: drop-shadow(10px 10px 5px whitesmoke);
  filter: drop-shadow(10px 10px 5px whitesmoke);
}

a {
  color: lightgoldenrodyellow;
}

.footer {
  width: 400px;
  height: auto;
  margin: auto;
  background: forestgreen;
  border: thick dotted peachpuff;
}

iframe {
  border: 0;
}

.endings {
  width: 800px;
  height: auto;
  margin: auto;
}

.pikmin__types {
  width: 800px;
  height: auto;
  margin: auto;
  background: forestgreen;
  border: thick dotted peachpuff;
}

.pikmin__types img {
  width: 300px;
  height: auto;
  margin: auto;
}

.pikmin__bios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
