@font-face {
  font-family: "Monocraft";
  src: url(/fonts/Monocraft.ttf) format("truetype");
}

html {
  background: url(/images/dirt.webp);
  color: white;
  font-family: "Monocraft", monospace;
  text-align: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

.header img {
  height: auto;
  width: 900px;
  margin: auto;
}

#body {
  width: 1100px;
  height: auto;
  margin: auto;
}

a {
  color: #0db50d;
  text-decoration: none;
}

.footer {
  height: auto;
  width: 400px;
  margin: auto;
}

.footer p {
  font-size: small;
}

.screenshots img {
  height: auto;
  width: 400px;
  margin: auto;
}
