.noto-sans-fontconfig {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html {
  background: url(/images/lego.jpeg);
  background-size: cover;
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

.header {
  width: 500px;
  height: auto;
  margin: auto;
}

.header img {
  width: 200px;
  height: auto;
}

.body {
  width: 800px;
  height: auto;
  margin: 10px auto;
  border: medium solid #000000;
  background: #e3000b;
}

.footer {
  width: 500px;
  height: auto;
  margin: 10px auto;
  border: medium solid #000000;
  background: #e3000b;
}

a {
  color: #ffed00;
}

p {
  margin-inline: 10px 10px;
}

.body img {
  width: 150px;
  height: auto;
}
