img {
  max-width: 250px;
  max-height: 250px;
}

body {
  background: url(../images/nurple-static-bright.gif);
  color: white;
  text-align: center;
}

a {
  color: white;
}

nav {
  border-top: 1px double white;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.item {
  display: inline-block;
}
