.shantell-sans-fontconfig {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}

body {
  background: url(/images/676657yhxq5o5bjd.gif);
  color: #000080;
  font-family: "Shantell Sans", cursive;
  overscroll-behavior-x: auto;
}

p {
  padding: 0px;
}

a {
  color: #5bcefa;
  font-weight: bold;
  text-decoration: none;
}

iframe {
  border: 0;
}

#row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  font-size: 17px;
  margin-top: 2px;
  margin-bottom: 0px;
}

.divider {
  margin: 19px, 25px;
  height: 2px;
  background: linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 1),
      rgba(0, 0, 0, 0));
}

#container {
  max-width: 800px;
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 18px;
  background-image: url(images/sky.png);
  border-radius: 20px 20px;
}

#main {
  max-width: 860px;
  width: 85%;
  height: auto;
  margin: auto;
  border-radius: 20px 20px;
  background-image: url(images/sky.png);
  padding-bottom: 18px;
  top: 0;
  z-index: 1;
}

#intro {
  margin: 20px;
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#monthly_video {
  margin-top: 3px;
}

#sidebar {
  width: 250px;
  height: auto;
  margin: auto;
  border-radius: 20px 20px;
  background-image: url(images/sky.png);
  padding-bottom: 18px;
  position: fixed;
  display: flex;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-top: 10%;
}

#pages {
  font-size: 16px;
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#rants__post {
  font-size: 17px;
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#rants__post h1 {
  text-align: center;
}

#rants__post h2 {
  text-align: center;
}

.header {
  background-image: url(images/sky.png);
  text-align: center;
  margin-bottom: 18px;
  width: 100%;
  max-width: 100%;
  border-radius: 20px 20px;
  padding: 18px 0px;
}

.header a {
  font-size: 18px;
}
