@font-face {
  font-family: "VCR OSD Mono";
  src: url(/fonts/VCR_OSD_MONO.woff);
}

html {
  background: url(/images/lisafeature.jpeg);
  background-size: cover;
  color: lightgray;
  text-align: center;
  font-family: "VCR OSD Mono", monospace;
}

body {
  margin: 50px;
}

.header {
  margin: auto;
  width: 600px;
  height: auto;
  border: lightgray solid thick;
  border-radius: 20px;
  background: black;
}

.header img {
  width: 600px;
  height: auto;
  margin: 20px;
}
