html {
    background: url(/images/pattern\ 463.jpg);
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.header {
    width: 500px;
    height: auto;
    margin: auto;
    border: medium double black;
    background: lightgreen;
}

.header b {
    font-size: 125%;
    text-shadow: 2px 2px 5px lightslategray;
}

.footer {
    width: 500px;
    height: auto;
    margin: auto;
    border: medium double black;
    background: lightgreen;
}

a {
    color: deepskyblue;
    text-shadow: 1px 1px 3px skyblue;
}

.footer b {
    text-shadow: 2px 2px 5px lightslategray;
}

.body {
    width: 500px;
    height: auto;
    margin: 20px auto;
    border: medium double black;
    background: lightgreen;
}

.body h3 {
    font-size: 110%;
}

h3 {
    text-shadow: 2px 2px 5px lightslategray;
    font-size: 125%;
}

#char {
    height: auto;
    width: auto;
    padding: 15px;
}

#char img {
    height: 150px;
}

.characterbox {
    display: inline-flex;
    width: 500px;
    height: 175px;
    margin-bottom: 20px;
    background: lightgreen;
    border: medium double black;
}

h3:nth-child(3) {
    padding: 0;
    width: auto;
    height: auto;
}

#bio p {
    text-align: left;
}